<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Nemīz.co {% block title %}{% endblock %}</title>

		{% block stylesheets %}
			{% stylesheets 
				'@NemizBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.min.css' %}
				<link href="{{ asset_url }}" rel="stylesheet" />
			{% endstylesheets %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>