packages:
  yum:
    mysql-server: []

commands:
  01-update-composer:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
  02-install-node:
    command: "curl -sL https://rpm.nodesource.com/setup | bash - && yum install -y gcc-c++ make nodejs"
  03-install-npm:
    command: "/usr/bin/curl -L http://npmjs.org/install.sh | sh"
  04-install-bower:
    command: "/usr/bin/npm install -g bower"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
    
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SYMFONY_ENV
    value: prod
    
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SYMFONY__ENV__SECRET
    value: ThisIsNotSecure
    
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SYMFONY__ENV__AWS__SECRET
    value: ChangeThis
    
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SYMFONY__DATABASE__PASSWORD
    value: ChangeThis
    
container_commands:
  100-setup-repository:
    command: "source .ebextensions/bin/configure-symfony.sh"
  101-setup-mysql:
    command: "source .ebextensions/bin/configure-mysql.sh"
  102-setup-composer:
    command: "/usr/bin/composer.phar install --optimize-autoloader --no-interaction"
  103-bower:
    command: "env PATH=$PATH:/usr/bin /usr/bin/bower install --allow-root"
  104-permissions:
    command: "/bin/chmod -R 777 app/cache app/logs && /bin/chown -R webapp:webapp ."
  200-create-database:
    command: "app/console doctrine:database:create -q"
  201-generate-model:
    command: "app/console doctrine:schema:update --force"
  900-clear-cache:
    command: "php app/console cache:clear --env=$SYMFONY_ENV --no-debug --no-warmup"

